
header {
    padding: 20px 0;
    width: 100vw;
    display: flex;
    justify-content: center;
} 
/*--------------------------------
            CHECKBOX
----------------------------------*/

.checkbox {
	opacity: 0;
	position: absolute;
}

.label {
    background: #5a5566;
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
	position: relative;
	height: 24px;
	width: 50px;
    transform: scale(1.5);
    margin-left: 20px;
}

.label .ball {
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	top: 2px;
	left: 2px;
	height: 30px;
	width: 30px;
	transform: translateX(0px);
	transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
	transform: translateX(24px);
}


.fa-moon {
	color: #ffbc53;
}

.fa-sun {
	color: #ffbc53;
}


/*--------------------------------
          DARK MODE
----------------------------------*/

body {
    --color-bg: #ffffff;
    --color-texto1: #3c286c;

    
}
body.dark-theme {
    --color-bg: #0d1117;
    --color-texto1: #ffffff;
}


@media (prefers-color-scheme: dark) {
    body {
        --color-bg: #0d1117;
        --color-texto1: #ffffff;
    }

    body.light-theme {
        --color-bg: #ffffff;
        --color-texto1: #3c286c;
    }
    
}

body {
    background-color: var(--color-bg); 
}

h1, p {
    color: var(--color-texto1);
    margin: 30px;
    font-family: 'Chakra Petch', sans-serif;
}